/*  body {
      background: url('/img/vignes.jpg');
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      font-family: 'Playfair Display', serif;
  } */
/*  #intro {
      background: url(/img/vignes.jpg) 50%  0 fixed;
      height: auto;
      margin: 0 auto;
      width: 100%;
      position: relative;
      padding: 300px 0;
  } */

#intro {
    background-image: url(/img/vignes.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(141, 0, 81);
    height: 760px;
}

.navbar {
    height: 10%;
}

.navbar-brand {
    font-size: 2em;
    color: #989494;
}

.navbar li a {
    font-size: 1.8em;
}
/*
  .parallax {
      background-image: url("");
      height: 500px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  } */

.terroir {
    background-image: url(/img/bottle.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(141, 0, 81);
    height: 400px;
}

.terroir p {
    font-weight: bold;
}

h1, h5, h4 {
    text-align: center;
}

.lesvins {
    background: white;
}

.lesvinsh1 {
    color: white;
    margin-bottom: 60px;
}

.vinrouge {
    margin-top: 15px;
    margin-bottom: 15px;
}

.vinrouge2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.vinblanc {
    margin-top: 15px;
    margin-bottom: 15px;
}

.vinbdx {
    margin-top: 15px;
    margin-bottom: 15px;
}

.vinrose {
    margin-top: 15px;
    margin-bottom: 15px;
}

.chais {
    background: url('/img/chais1.jpg');
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row2 {
    margin-top: 40px;
}

.jumbotron {
    margin-bottom: 0;
}
.card {
  background-color: transparent;
  border: none;
}
#jumbotron {
  background: rgb(255, 255, 255, 0.5);
}




/*==========================================
MEDIA QUERIES
===========================================*/
// Extra small devices (portrait phones, less than 544px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 544px and up)
@media (max-width: 544px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {


}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {

 li {display:none;}


}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {




}
